body {
    background-color: white;
    color: rgb(121, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    right: 0;
}

.section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lista {
    display: flex;
    justify-content: end;
    list-style: none;
    font-weight: bold;
}


.menu-itens {
    text-decoration: none;
    padding: 1em;

}

.logo {
    padding-top: 0;
    margin-top: 0;

}


